body {
    background-color:  hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 600px;
    background-color: white;
    border-radius: 3%;
    margin: auto;
    margin-top: 100px;
    display: flex;
}
main .container img {
    width: 50%;
    border-radius: 3% 0 0 3%;
}
main .container .text {
    padding: 20px;
}
main .container .text h4{
    color: #777;
    letter-spacing: 3px;
}
main .container .text h1{
    font-family: 'Fraunces', serif;
}
main .container .text p{
    color: hsl(228, 12%, 48%);
    line-height: 1.5;
}
main .container .text .price {
    margin-top: 30px;
    margin-bottom: 30px;
}
main .container .text .price .sale {
    font-size: 25px;
    font-weight: bold;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    margin-top: 10px;
}
main .container .text .price del {
    color: #777;
    margin-left: 15px;
}
main .container .text .add {
    background-color:hsl(158, 36%, 37%) ;
    color: white;
    margin: 20px;
    padding: 10px;
    border-radius: 4%;
    text-align: center;
    font-size: 14px;
    width: 240px;
    margin-left: auto;
}
main .container .text .add i {
    margin-right: 10px;
}
@media (max-width: 767px) {
    .container {
        flex-direction: column;
        border-radius: 3%;
        margin-top: 20px;
    }
    main .container img {
        width: 100%;
        border-radius: 3% 3% 0 0;
    }
    .container .text h1 {
        font-size: 40px;
    }
    }
    
